Repository DIPSAS/DIPS.Xamarin.UI, pull requests merged in 2020-02, with the labels that each got.

#121 Added IsClippedToBounds to ModalityLayout
  src/DIPS.Xamarin.UI/Controls/Modality/ModalityLayout.xaml
Labels: enhancement, sheet

#124 Made date, time and datetime converters null safe
  src/DIPS.Xamarin.UI/Converters/ValueConverters/DateAndTimeConverter.cs
  src/DIPS.Xamarin.UI/Converters/ValueConverters/DateConverter.cs
  src/DIPS.Xamarin.UI/Converters/ValueConverters/TimeConverter.cs
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro.Android/Resources/Resource.designer.cs
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro.csproj
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/Github123/Github123.xaml
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/Github123/Github123.xaml.cs
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/MainPage.xaml
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/MainViewModel.cs
  src/Tests/DIPS.Xamarin.UI.Tests/Converters/ValueConverters/DateAndTimeConverterTests.cs
  src/Tests/DIPS.Xamarin.UI.Tests/Converters/ValueConverters/DateConverterTests.cs
  src/Tests/DIPS.Xamarin.UI.Tests/Converters/ValueConverters/TimeConverterTests.cs
Labels: bug, converter

#125 Added selectorItem for ContentControl
  src/DIPS.Xamarin.UI/Controls/Content/ContentControl.cs
  src/Samples/DIPS.Xamarin.UI.Samples/Controls/Content/ContentControlPage.xaml
  src/Samples/DIPS.Xamarin.UI.Samples/Controls/Content/ContentControlTemplateSelector.cs
  src/Samples/DIPS.Xamarin.UI.Samples/Controls/Content/ContentControlViewModel.cs
  src/Samples/DIPS.Xamarin.UI.Samples/Controls/Content/ViewModel1.cs
  src/Tests/DIPS.Xamarin.UI.Tests/Controls/Content/ContentControlTests.cs
Labels: ContentControl

#126 Sheet now auto closes
  src/DIPS.Xamarin.UI/Controls/Sheet/SheetBehavior.cs
  src/Samples/DIPS.Xamarin.UI.Samples/Controls/ControlsPage.xaml
  src/Samples/DIPS.Xamarin.UI.Samples/Controls/Sheet/SheetPage.xaml.cs
Labels: enhancement, sheet

#138 Sheet now respects MaxPosition when the content is too big, fixes #137
  src/DIPS.Xamarin.UI/Controls/Sheet/SheetBehavior.cs
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro.Android/Resources/Resource.designer.cs
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro.csproj
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/Github137/Github137.xaml
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/Github137/Github137.xaml.cs
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/MainPage.xaml
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/MainViewModel.cs
Labels: sheet

#139 Added AdditionConverter
  src/DIPS.Xamarin.UI/Converters/ValueConverters/AdditionConverter.cs
  src/Samples/DIPS.Xamarin.UI.Samples/Converters/ConvertersPage.xaml
  src/Samples/DIPS.Xamarin.UI.Samples/Converters/ConvertersViewModel.cs
  src/Samples/DIPS.Xamarin.UI.Samples/Converters/ValueConverters/AdditionConverterPage.xaml
  src/Samples/DIPS.Xamarin.UI.Samples/Converters/ValueConverters/AdditionConverterPage.xaml.cs
  src/Samples/DIPS.Xamarin.UI.Samples/Converters/ValueConverters/MultiplicationConverterPage.xaml
  src/Samples/DIPS.Xamarin.UI.Samples/Converters/ValueConverters/MultiplicationConverterPage.xaml.cs
  src/Samples/DIPS.Xamarin.UI.Samples/DIPS.Xamarin.UI.Samples.csproj
  src/Tests/DIPS.Xamarin.UI.Tests/Converters/ValueConverters/AdditionConverterTests.cs
  src/Tests/DIPS.Xamarin.UI.Tests/TestHelpers/ValueConverterExtensions.cs
Labels: converter

#143 Fixed Sheet freezes app when modality is resized
  src/DIPS.Xamarin.UI/AssemblyInfo.cs
  src/DIPS.Xamarin.UI/Controls/Modality/ModalityLayout.xaml.cs
  src/DIPS.Xamarin.UI/Controls/Sheet/SheetBehavior.cs
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro.csproj
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/Github142/Github142.xaml
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/Github142/Github142.xaml.cs
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/MainPage.xaml
  src/IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/DIPS.Xamarin.Forms.IssuesRepro/MainViewModel.cs
  src/Samples/DIPS.Xamarin.UI.Samples/Controls/Sheet/SheetPage.xaml
Labels: bug, sheet
